@{
    ViewBag.Title = "Who Let Der Hund Out";
}

    <div class="jumbotron">
        <h1>Welcome to a friendly site for dog's and dog owners dog's.</h1>
        <p class="lead">Dog's are great creatures.  They can bring so much happiness while doing so little.  This website is to be used to book a room for you and your dog at our hotel.</p>
        @*<h2>On way to the hotel</h2>
        <p><img src="~/Content/pup.jpeg.jpeg" alt="Hazel" style="align-items:center;width:80%;outline:6px Gold solid;" /></p>*@    <p><img src="~/Content/strongdog.jpg" alt="Strong Doggy" style="align-items:center;width:80%;outline:6px Gold solid;" /></p>
        <p>You can also appreciate dog's through this site. We plan on adding a gallery of all the visitors.</p>

    </div>
